/* fontawesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Crmson Text';
    src: url('/fonts/CrmsonText-Bold.ttf');
}

/* Custom Styles */
/* mobile fullscreen shenanigens */

/* purgecss start ignore */
html,
body,
#__nuxt,
#__layout {
    @apply h-full;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* purgecss end ignore */